.js-irs-0 .irs-bar {
border-top-color: #f44b42;
border-bottom-color: #f44b42;
}

.js-irs-0 .irs-bar-edge {
border-color: #f44b42;
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
background: #f44b42;
}

.js-irs-1 .irs-bar {
border-top-color: #f44b42;
border-bottom-color: #f44b42;
}

.js-irs-1 .irs-bar-edge {
border-color: #f44b42;
}

.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {
background: #f44b42;
}
